<html>
  <head>
    <title>Trade Dangerous - Web Helper</title>
    <link rel="stylesheet" href="{{ cssUrl }}">
    {% if fontSize %}
      <style>
        html * {
          font-size: {{ fontSize }};
        }
      </style>
    {% endif %}
  </head>
<body>
  <div class="fixed-header">
  <h1>Trade Dangerous - personal trade run web helper</h1>
  <p>
    <a href="/toggle-help">Toggle help</a>
    <a href="/toggle-font">Toggle font</a>
    <a href="/import">Import data</a>
    <a href="/clear-results">Clear results</a>
  </p>
</div>

<div class="divTable" style="width: 100%;" >
  <div class="divTableBody">
    <div class="divTableRow">
      <!-- Left side -->
      <div class="divTableCellLeft">      
      <!-- Enter options for trade -->
      <h3>Run options</h3>

      {% if importInProgress == True %}
        <p>Import data in progress... </p>
      {% endif %}

      {% if findInProgress == True %}      
        <p>Trade run in progress... </p>
      {% endif %}

      {% if findInProgress == True or importInProgress == True %}
        <p>Started {{ taskStartTime }}...<br/>
        {{ tradeTaskSinceStart }} seconds ago.
        </p>      
        <p>Wait a moment and refresh page.</p>
      {% else %}
        <form action="/trade" method="get" autocomplete="off">
          <p>Options for 'trade run':</p>
          <textarea id="opts" name="opts" rows="5" cols="80">
{{ optsString }} </textarea>
          <br/>
          <input type="submit" value="Do trade run">
        </form>      
      {% endif %}
      
      <h3>Run results</h3>
      {% if tradeResults %}
        <p>
        {{ tradeResults |safe }}
        </p>
      {% endif %}
    </div>
    {% if showHelp == True %}    
      <!-- Right side -->
      <div class="divTableCellRight">
      <pre>
{{ helpText }}
      </pre>        
      </div>
    {% endif %}

    </div>
  </div>
</div>
    <!-- DivTable.com -->
</body>
</html>