.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}

.divTableHead {
	/*border: 1px solid #999999;*/
	display: table-cell;
	padding: 3px 10px;
}
.divTableCellLeft {
	/*border: 1px solid #999999;*/
	display: table-cell;
	padding: 3px 10px;
}
.divTableCellRight {
	/*border: 1px solid #999999;*/
	border-left-style: solid;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

body{        
	padding-top: 110px;
/*	padding-bottom: 40px;*/
}
.container{
	width: 80%;
	margin: 0 auto; /* Center the DIV horizontally */
}
.fixed-header{
	width: 100%;
	position: fixed;        
	padding: 10px 0;
	background-color: #EEE;
/*	color: #fff;*/
}
.fixed-header{
	top: 0;
}

.container p{
	line-height: 200px; /* Create scrollbar to test positioning */
}